MONGODB_URI=mongodb+srv://kartiksm007_db_user:RqIs2NUKHNGBLjiY@mycluster.az9xqrj.mongodb.net/?appName=myCluster
CLERK_JWKS_URL=https://api.clerk.com/v1/jwks
CLERK_SECRET_KEY= pk_test_YXdhcmUtY2hpcG11bmstMzcuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_ISSUER=
CORS_ORIGINS=http://localhost:5173
ALLOW_GUEST_WS=true

